[submodule "Mitigation-manager"]
	path = Mitigation-manager
	url = https://github.com/resilmesh2/Mitigation-manager.git
	branch = main
[submodule "Playbooks-tool"]
	path = Playbooks-tool
	url = https://github.com/resilmesh2/Playbooks-tool.git
	branch = main
[submodule "Workflow-Orchestrator"]
	path = Workflow-Orchestrator
	url = https://github.com/resilmesh2/Workflow-Orchestrator.git
