[submodule "Mitigation-manager"]
	path = Mitigation-manager
	url = https://github.com/resilmesh2/Mitigation-manager.git
[submodule "Playbooks-tool"]
	path = Playbooks-tool
	url = https://github.com/resilmesh2/Playbooks-tool.git
